/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container h1 {
  margin: 50px 0 20px 0;
  color: #333;
}

#output {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
.car-model {
  margin-bottom: 20px;
  width: 80%;
  text-align: center;
  border-bottom: solid 1px #333;
}

/* navigation header */
nav a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
nav a:hover {
  text-decoration: underline;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navigation-title {
  text-align: center;
}
.header-wrapper {
  background-color: white;
  height: 80px;
  border-bottom: solid 2px black;
}
@media screen and (max-width: 660px) {
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-wrapper {
    height: 100%;
  }
  nav a {
    margin-bottom: 10px;
  }
}
.current {
  text-decoration: underline;
}
